<template>
  <q-page padding>
    <div class="row">
      <div class="col q-ma-sm">
        <q-input v-model="form.title" outlined label="Title"></q-input>
      </div>
    </div>
    <div class="row">
      <div class="col q-ma-sm">
        <q-input v-model="form.director" outlined label="Director"></q-input>
      </div>
    </div>
    <div class="row">
      <div class="col q-ma-sm">
        <q-input v-model="form.summary" type="textarea" outlined label="Summary"></q-input>
        <p>Genre : {{ selection }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col q-ma-sm">
        <div class="q-gutter-xs">
          <q-chip v-for="item in genre" :key="item.id" v-model:selected="item.value" color="primary" text-color="white" outline>
            {{ item.name }}
          </q-chip>
        </div>
      </div>
    </div>
    <q-page-sticky position="bottom-left" :offset="[20, 70]">
      <q-btn fab color="red" v-if="$route.query.type?.includes('D')" icon="delete" size="sm" @click="deleteMovie" />
    </q-page-sticky>
    <q-page-sticky position="bottom-right" :offset="[20, 70]">
      <q-btn fab color="warning" v-if="$route.query.type?.includes('U')" icon="save" size="md" />
      <q-btn fab color="accent" v-if="$route.query.type?.includes('A')" icon="save" size="md" @click="submitData" />
    </q-page-sticky>

    <q-dialog v-model="dialogMsg" persistent transition-show="flip-down" transition-hide="flip-up">
      <q-card class="bg-primary text-white">
        <q-bar>
          <div>{{ titleDialog }}</div>
          <q-space />

          <q-btn dense flat icon="close" v-close-popup @click="$router.back()">
            <q-tooltip class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>

        <q-card-section class="q-pt-none">
          {{ dialogMessage }}
        </q-card-section>

        <q-card-actions align="right">
          <q-btn outline label="Close" size="small" color="white" v-close-popup @click="$router.back()" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { defineComponent, reactive, computed, ref } from 'vue'
import Movie from '../store/MovieStore'

export default defineComponent({
  name: 'AddUpdatePage',
  data: () => {
    return {
      indexOfMovie: -1,
      titleDialog: "",
      dialogMessage: "",
      dialogMsg: false,
      form: {
        id: "",
        title: "",
        director: "",
        summary: "",
        genre: []
      },
    }
  },
  setup() {
    let dataGenre = localStorage.getItem('data-genre')
    const genre = reactive(JSON.parse(dataGenre))

    return {
      genre,
      selection: computed(() => {
        let lsGenre = genre
          .filter(type => { if(type.value === true) return type.name })
          .map(x => x.name).join(", ")

        let tmpDataSelected = genre.filter(type => { if(type.value === true) return type.name })
        localStorage.setItem("tmpGenre", JSON.stringify(tmpDataSelected))

        return lsGenre
      }),
      text: "",
      dataMovie: [],
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
    }
  },
  methods:{
    submitData(){
      this.form.id = new Date().getTime(),
      this.form.genre = JSON.parse(localStorage.getItem("tmpGenre"))
      if(Movie.actions.submitToStorage(this.form)){
        this.titleDialog = "Add Movie"
        this.dialogMessage = "Success add Movie Data"
        this.dialogMsg = true
      }
    },
    getDetails(){
      if(this.$route.query.type.includes("U")){
        const id = this.$route.query.movieId
        const data = Array.from(JSON.parse(localStorage.getItem("data-movie")))
        const dataFilterById = data.filter(item => parseInt(item.id) === parseInt(id) )
        this.indexOfMovie = data.map(e => e.id).indexOf(parseInt(id))
        this.form = dataFilterById[0]
      }

    },
    deleteMovie(){
      let data = Array.from(JSON.parse(localStorage.getItem("data-movie")))
      data.splice(this.indexOfMovie, 1)
      localStorage.setItem("data-movie", JSON.stringify(data))

      this.titleDialog = "Delete Movie"
      this.dialogMessage = "Success delete Movie Data"
      this.dialogMsg = true
      this.indexOfMovie = null
    }
  },
  mounted() {
    this.getDetails()
  }
})
</script>
