<template>
      <q-layout view="lHh lpr lFf" container style="height: calc(100vh - 50px)" class="shadow-2">
        <q-header class="q-pa-sm bg-white">
          <q-bar class="q-pa-lg bg-white">
            <q-input rounded dense outlined class="full-width" placeholder="Search by title" v-model="text">
              <template v-slot:prepend>
                <q-icon name="search" />
              </template>
            </q-input>
          </q-bar>
        </q-header>

        <q-page-container>
          <q-page class="q-pa-md">
            <q-card
              dark
              bordered
              class="bg-grey-9 my-card q-mb-xs"
              v-for="item in dataMovie"
              :key="item.id"
              @click="$router.push({path:'addUpdate/', query: { type: ['U', 'D'], movieId: item.id }})"
            >
              <q-card-section>
                <div class="text-h5">{{ item.title }}</div>
                <div class="text-subtitle2">Director : {{ item.director }}</div>
              </q-card-section>

              <q-separator dark inset />

              <q-card-section>
                {{ item.summary }}
              </q-card-section>
              <q-card-section class="text-right">
                <q-btn outline rounded size="sm" class="q-ml-sm" v-for="genre in item.genre" :key="genre.id">{{ genre.name }}</q-btn>
              </q-card-section>
            </q-card>

            <q-page-sticky position="bottom-right" :offset="[18, 18]">
              <q-btn fab icon="add" color="blue" @click="$router.push({ path:'addUpdate/', query: { type: ['A'] }} )" />
            </q-page-sticky>
          </q-page>
        </q-page-container>
      </q-layout>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'IndexPage',
  data: ()=>{
    return {
      text: "",
      dataMovie: []
    }

  },
  setup() {
    return {
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
    }
  },
  mounted() {
    this.getAllData()
  },
  methods: {
    getAllData(){
      let data = localStorage.getItem("data-movie")
      this.dataMovie = JSON.parse(data)
    },
    search(){
      setTimeout(()=>{
        let data = localStorage.getItem("data-movie")
        this.dataMovie = JSON.parse(data).filter(txt => txt.title.toLowerCase().includes(this.text.toLowerCase()))
      }, 10)

    }
  },
  watch: {
    text(){
      this.search()
    }
  }
})
</script>
