<template>
  <router-view />
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'App',
  mounted() {
    let genre = [
      {
        id: 1,
        name: "Drama",
        value: false
      },
      {
        id: 2,
        name: "Action",
        value: false
      },
      {
        id: 3,
        name: "Animation",
        value: false
      },
      {
        id: 4,
        name: "Sci Fi",
        value: false
      }
    ]
    let dataMovie = []

    if(localStorage.getItem("data-genre") == null){
      localStorage.setItem("data-genre",JSON.stringify(genre))
    }
    if(localStorage.getItem("data-movie") == null){
      localStorage.setItem("data-movie",JSON.stringify(dataMovie))
    }

  }
})
</script>
